@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --width: 480px;
}

.carousel {
    position: relative;
    width: var(--width);
    overflow: hidden;
    background-color: rgba(50, 65, 71, 0.85);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.carouselItem {
    height: 620px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 1em;
    font-size: 1.6rem;
}

.itemContent {
    height: 90%;
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.itemWithOnlyText {
    justify-content: center;
}

.carouselItem h5 {
    font-style: italic;
    line-height: 1.5 !important;
}

.pink {
    color: #ff4081;
}

.carouselItem img {
    width: 70%;
    padding-top: 5px;
}

.carouselNav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carouselButton, .carouselButtonSelected {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carouselButton {
    background: rgba(255, 255, 255, 0.2);
}

.carouselButtonSelected {
    background: rgba(255, 255, 255, 0.8);
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
}

/* NEXT SLIDE TRANSITION */

.slideInNext {
    animation: slide-next 0.3s;
    -webkit-animation: slide-next 0.3s;
    -moz-animation: slide-next 0.3s;
    -o-animation: slide-next 0.3s;
    -ms-animation: slide-next 0.3s;
}

@keyframes slide-next {
    from {
        transform: translateX(var(--width))
    }

    to {
        transform: translateX(0)
    }
}

@-webkit-keyframes slide-next {
    from {
        transform: translateX(var(--width))
    }

    to {
        transform: translateX(0)
    }
}

@-moz-keyframes slide-next {
    from {
        transform: translateX(var(--width))
    }

    to {
        transform: translateX(0)
    }
}

@-o-keyframes slide-next {
    from {
        transform: translateX(var(--width))
    }

    to {
        transform: translateX(0)
    }
}

@-ms-keyframes slide-next {
    from {
        transform: translateX(var(--width))
    }

    to {
        transform: translateX(0)
    }
}

/* PREV SLIDE TRANSITION */

.slideInPrev {
    animation: slide-prev 0.3s;
    -webkit-animation: slide-prev 0.3s;
    -moz-animation: slide-prev 0.3s;
    -o-animation: slide-prev 0.3s;
    -ms-animation: slide-prev 0.3s;
}

@keyframes slide-prev {
    from {
        transform: translateX(-100vw)
    }

    to {
        transform: translateX(0)
    }
}

@-webkit-keyframes slide-prev {
    from {
        transform: translateX(-100vw)
    }

    to {
        transform: translateX(0)
    }
}

@-moz-keyframes slide-prev {
    from {
        transform: translateX(-100vw)
    }

    to {
        transform: translateX(0)
    }
}

@-o-keyframes slide-prev {
    from {
        transform: translateX(-100vw)
    }

    to {
        transform: translateX(0)
    }
}

@-ms-keyframes slide-prev {
    from {
        transform: translateX(-100vw)
    }

    to {
        transform: translateX(0)
    }
}


@media only screen and (max-width: 600px) {
    :root {
        --width: 90vw;
    }

    .carousel {
        width: var(--width);
    }

    .carouselItem {
        height: calc(97vh - 95px);
    }
}

@media only screen and (max-width: 420px) {
    .itemContent {
        width: 80%;
    }

    .carouselItem h4 {
        font-size: 28px;
    }

    .carouselItem h5 {
        font-size: 18px;
    }

    .rightArrow {
        right: -10px;
    }

    .leftArrow {
        left: -10px;
    }
}

@media only screen and (max-height: 675px) {
    .carouselItem {
        height: calc(97vh - 75px);
    }

    .carouselItem h4 {
        font-size: 28px;
    }

    .carouselItem h5 {
        font-size: 18px;
    }
}